# Twilio (SMS/WhatsApp)
TWILIO_ACCOUNT_SID=AC427971b1d485a3876bd30cf383ec6c20
TWILIO_AUTH_TOKEN=31a849ad0e9c52346ab6350cb40c132d
TWILIO_PHONE_NUMBER=+18167905856
TWILIO_WHATSAPP_NUMBER=+14155238886

# Email (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=gopikrishna7223
SMTP_PASS=xymh prmh mubi axor
EMAIL_FROM=gopikrishna7223@gmai.com
